@model AdminPanel.Models.PanelUsers;
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor;
@{
    ViewData["Title"] = "Index";
}

<h1>@accessor.HttpContext.Session.GetString("Name")</h1>

<form>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Name" for="exampleInputEmail1" class="form-label"></label>
        <input asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" for="exampleInputEmail1" class="form-label"></label>
        <input asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="Password" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CPassword" for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="CPassword" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="CPassword" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

