@model SearchingDemo.Models.Product;
@{
    ViewData["Title"] = "AddProduct";
}

<div class="row text-center">
    <h1 class="text-capitalize text-info">AddProduct</h1>
</div>

<div class="row px-5">
    <div class="row">
        <div asp-validation-summary="All"></div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="form-label">Product Name</label>
                <input class="form-control" asp-for="Name" type="text" placeholder="Enter product name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Product Description</label>
                <input class="form-control" asp-for="Description" type="text" placeholder="Enter product name" />
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Product Price</label>
                <input class="form-control" asp-for="Price" type="text" placeholder="Enter product name" />
                <span asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Product Image</label>
                <input class="form-control" asp-for="Image" type="file" name="img" placeholder="Enter product name" />
                <span asp-validation-for="Image"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Product Category</label>
                <select class="form-control" asp-for="Categoryid" asp-items="ViewBag.CategoryId"></select>
            </div>
            <button asp-controller="Products" asp-action="AddProduct" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

