
@{
    ViewData["Title"] = "EditProduct";
}

<div class="row text-center mb-4">
    <h1>Edit Product</h1>
</div>
<hr />
<div class="row">
    <form>
        <div class="col-5">
            <div></div>
        </div>
        <div class="col-6">
        </div>
    </form>
</div>

