@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Tilte"] = "Welcome";

}

<h1>@ViewData["Message"] Welocme To My First MVC Project</h1>
<h2>Numtimes Is @ViewData["Numtimes"]</h2>