@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor;

@model Excell_On_Service.Models.SubService;
@{
    ViewData["Title"] = "Service Detail For Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-5">
        <h1 class="text-center p-4">
            @ViewData["Title"]
        </h1>
    </div>
    <form asp-action="">
        <div class="row p-3 shadow-lg gap-3 border-1 rounded-3">
            <div class="col-5">
                <img class="img-fluid" src="~/SubServiceImages/@Model.ServiceImage" alt="Pic Not Found" />
            </div>
            <div class="col-6">
                <div class="row ml-5 d-flex flex-column align-items-center">
                    <div class="row d-flex flex-column align-items-center justify-content-center">
                        <div class="col-12">
                            <h3 class="text-info text-decoration-underline">Service Name :</h3>
                            <h4>@Model.SubServiceName</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row d-flex flex-column align-items-center justify-content-center">
                        <div class="col-12">
                            <h3 class="text-info text-decoration-underline">Description :</h3>
                            <h4>@Model.SubServiceDescription</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row d-flex flex-column align-items-center justify-content-center">
                        <div class="col-12">
                            <h3 class="text-info text-decoration-underline">Service Charges :</h3>
                            <h4>$@Model.SubServiceCharges</h4>
                        </div>
                    </div>
                    <hr />
                    @if (accessor.HttpContext.Session.GetInt32("ClientId") != null || accessor.HttpContext.Session.GetString("Employee") != null && accessor.HttpContext.Session.GetString("PaymentID") == null)
                    {
                        <div class="row">
                            <a asp-controller="Services" asp-action="PaymentDetail" class="btn btn-primary">Add Payment Detail</a>
                        </div>
                    }
                    else if (accessor.HttpContext.Session.GetString("PaymentID") != null)
                    {
                        <input type="submit" value="Add to cart" class="btn btn-primary" />
                    }
                    else if (accessor.HttpContext.Session.GetString("Admin") != null)
                    {
                        <a asp-action="Index" asp-controller="AdminPanel" class="btn btn-primary">Admin Panel</a>
                    }
                    else
                    {
                        <div class="row">
                            <a asp-action="Index" asp-controller="Clients" class="btn btn-primary" >Login First</a>
                        </div>
                    }

                    
                </div>
            </div>
        </div>
        <input asp-for="SubServiceId" type="hidden"/>
    </form>
</div>

