@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    @foreach(var i in ViewBag.DList)
            {
                <h1>@i.DepartmentId</h1>
            }

    <p>Use this area to provide additional information.</p>
</main>