@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Departments</h1>
    <select>
        @foreach(var i in ViewBag.DList)
            {
                <option>@i.DepartmentName</option>
            }
        
    </select>
</div>
<div class="row">
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>Dept Id</th>
                <th>Dept Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ViewBag.DList)
            {
                <tr>
                    <td>@i.DepartmentId</td>
                    <td>@i.DepartmentName</td>
                    <td>@i.Status</td>
                </tr>
                
            }
        </tbody>
    </table>
</div>