@model IEnumerable<Excell_On_Service.Models.Service>;
@{
    ViewData["Title"] = "Home Page";
}

<div class=" container">
    <div class="row w-100 h-100">
        <div class="d-flex align-items-center gap-5">
            <h1 class="">
                Welocome To <span class="text-danger">Excell On Services</span>
            </h1>
            <img src="~/Images/c0ae6c_258b95d696f94070a7c415d75f9cc59e~mv2.png" width="400" height="400"/>
        </div>
        <div class="rowmb-5">
            <h3>We are providing our clients to multiple services in which we are able to solve your daily life problems by dailing one simple call
                form more information click the link <a asp-controller="Services" asp-action="Index" class="btn btn-outline-primary"> services</a>
            </h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <h1 class="text-center mb-2 text-decoration-underline">Our Main Services</h1>
    </div>
   
    <div class="d-flex gap-3 justify-content-between mt-5">
        @foreach (var item in Model)
        {
            <a asp-action="GetSubServices" asp-controller="Services" class="text-decoration-none" asp-route-id="@item.ServiceId">
                <div class="card text-black" style="width: 18rem;">
                    <img src="~/MainServiceImage/@item.MainServiceImg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">@item.ServiceName</h3>
                        <p class="card-text">@item.ServiceDescription.</p>
                        <h5 class="card-content">Charges: $@item.ServiceCharges</h5>
                    </div>
                </div>
            </a>
        }       
    </div>
</div>
