@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Excell_On_Service</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Excell_On_Service.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/images.png" width="90" height="60"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item h5 ms-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item h5 ms-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item h5 ms-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item h5 ms-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactSettings" asp-action="Index">Contact Us</a>
                        </li>
                        <li class="nav-item h5 ms-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactSettings" asp-action="Index">Feedback</a>
                        </li>
                        @if(accessor.HttpContext.Session.GetString("Admin") != null){
                            <li class="nav-item h5">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdminPanel" asp-action="Index">Admin Dashboard</a>
                            </li>
                        }
                    </ul>
                    @if (accessor.HttpContext.Session.GetString("Admin") != null || accessor.HttpContext.Session.GetString("Employee") != null || accessor.HttpContext.Session.GetString("ClientName") != null)
                    {
                        <li class="nav-item" style="list-style:none; margin-right:50px;">
                            <a class="nav-link btn btn-success text-white float-end" asp-area="" asp-controller="Clients" asp-action="Logout">LogOut</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown" style="list-style:none; margin-right:50px;">
                            <a class="nav-link dropdown-toggle btn btn-primary text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Login
                            </a>
                            <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" asp-action="EmpLogin" asp-controller="Employees">As a Employee</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Clients">As a Client</a></li>
                            </ul>
                        </li>
                    }
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Excell_On_Service - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
