<div class="row">
    <div  class="col-lg-12">
        <a href="#" onclick="CreateNew()" class="btn btn-primary">Add New</a>
        @Html.Partial("~/Views/Shared/Master/_EmployeModal.cshtml")
    </div>
    <div class="col-lg-12">
        <br />
        <table class=" table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-data"></tbody>
        </table>
    </div>
</div>


@* <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(() => {
      
    })
    function CreateNew() {
        ClearText()
        $("#btnModal").trigger('click')
    }

    function ClearText() {
        $("#txtId").val('')
        $("#txtName").val('')
        $("#txtState").val('')
        $("#txtCity").val('')
        $("#txtSalary").val('')
    }
    // function GetAllEmploye(){
    //     $.ajax({
    //         url: "/Ajax/AllEmploye",
    //         method: "GET",

    //     })
    // }

    function save(){
        var isproceed = true;
        var id = $("#txtid").val()
        var name = $("#txtname").val()
        var state = $("#txtstate").val()
        var city = $("#txtcity").val()
        var salary = $("#txtsalary").val()

        if (name == '') {
            isproceed = false
            $("#txtname").css('border-style' , 'red')
        } else{
            $("#txtname").css('border-style' , '#ccc')
        }
        if (isproceed) {
            var obj = new object();
            obj.name = name
            obj.state = state
            obj.city = city
            obj.salary = salary
            $.ajax({
                url: "/ajax/saveemploye",
                method: 'post',
                data: obj,
                contenttype: "application/x-www-form-urlencoded; charset=utf-8;",
                success: (data) => {
                    alert('data saved')
                },
                error: (err) => {
                    alert(err)
                }

            })
        }
    }

    
</script>