@model Excell_On_Service.Models.SubService;
@{
    ViewData["Title"] = "Create Sub Service";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            @ViewData["Title"]
        </h1>
    </div>
</section>

<section class="section main-section">
    <div class="card mb-6">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-ballot"></i></span>
                @ViewData["Title"]
            </p>
        </header>
        <div class="card-content">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="field">
                    <label class="label">SubService Name</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text"  placeholder="Service Name" asp-for="SubServiceName">
                                <span class="icon left"><i class="mdi mdi-settings "></i></span>
                                <span asp-validation-for="SubServiceName"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">SubService Image</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="file" accept=".jpg , .jpeg , .png , .gif , .bmp" name="img" placeholder="Service Image" asp-for="ServiceImage">
                                <span class="icon left"><i class="mdi mdi-settings "></i></span>
                                <span asp-validation-for="ServiceImage"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea class="textarea" asp-for="SubServiceDescription" placeholder="Enter Description here"></textarea>
                    </div>
                    <span asp-validation-for="SubServiceDescription"></span>
                </div>
                <div class="field">
                    <label class="label">Sub-Service Charges</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text" placeholder="Service Charges" asp-for="SubServiceCharges">
                                <span class="icon left"><i class="mdi mdi-settings "></i></span>
                                <span asp-validation-for="SubServiceCharges"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Sub-Service Code</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text" placeholder="Service Code" asp-for="SubServiceCode">
                                <span class="icon left"><i class="mdi mdi-settings "></i></span>
                                <span asp-validation-for="SubServiceCode"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Select Service</label>
                    <div class="control">
                        <div class="select">
                            <select asp-items="@ViewBag.ServiceId" asp-for="ServiceId"></select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="field grouped">
                    <div class="control">
                        <button type="submit" asp-action="CreateSubService" asp-controller="AdminPanel" class="button green">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

