@model Excell_On_Service.Models.Service;
@{
    ViewData["Title"] = "Create Service";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            @ViewData["Title"] 
        </h1>
    </div>
</section>

<section class="section main-section">
    <div class="card mb-6">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-ballot"></i></span>
                @ViewData["Title"]
            </p>
        </header>
        <div class="card-content">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="field">
                    <label class="label">Service Image</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="file" accept=".jpg , .jpeg , .png , .gif , .bmp" name="img" placeholder="Service Image" asp-for="MainServiceImg">
                                <span class="icon left"><i class="mdi mdi-settings "></i></span>
                                <span asp-validation-for="MainServiceImg"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Service Name</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text" placeholder="Service Name" asp-for="ServiceName">
                                <span class="icon left"><i class="mdi mdi-settings "></i></span>
                                <span asp-validation-for="ServiceName"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea class="textarea"asp-for="ServiceDescription" placeholder="Enter Description here"></textarea>
                    </div>
                    <span asp-validation-for="ServiceDescription"></span>
                </div>
                <div class="field">
                    <label class="label">Service Charges</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text" placeholder="Service Charges" asp-for="ServiceCharges">
                                <span class="icon left"><i class="mdi mdi-settings "></i></span>
                                <span asp-validation-for="ServiceCharges"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Service Code</label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control icons-left">
                                <input class="input" type="text" placeholder="Service Code" asp-for="ServiceCode">
                                <span class="icon left"><i class="mdi mdi-settings "></i></span>
                                <span asp-validation-for="ServiceCode"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="field grouped">
                    <div class="control">
                        <button type="submit" asp-action="CreateService" asp-controller="AdminPanel" class="button green">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

