<!-- Button trigger modal -->
<button type="button" id="btnModal" style="display:none" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#employeModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="employeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add/Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 mt-2">
                        <label>Id</label>
                    </div>
                    <div class="col-lg-9 mt-2">
                        <div class="form-group">
                            <input class="form-control" disabled id="txtId" />
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <label>Name</label>
                    </div>
                    <div class="col-lg-9 mt-2">
                        <div class="form-group">
                            <input class="form-control" id="txtName" />
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <label>State</label>
                    </div>
                    <div class="col-lg-9 mt-2">
                        <div class="form-group">
                            <input class="form-control" id="txtState" />
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <label>City</label>
                    </div>
                    <div class="col-lg-9 mt-2">
                        <div class="form-group">
                            <input class="form-control" id="txtCity" />
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <label>Salary</label>
                    </div>
                    <div class="col-lg-9 mt-2">
                        <div class="form-group">
                            <input class="form-control" id="txtSalary" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <a href="#"  type="button" onclick="Save(); return false;" class="btn btn-primary">Save changes</a>
            </div>
        </div>
    </div>
</div>
